.description {
    display: flex;
    flex-direction: row;
    padding: 32px 48px 0;
    margin: 0 auto;
    max-width: 1040px;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    grid-template-columns: 1fr 1fr;
  
    @media screen and (max-width: 768px) {
      padding:24px 48px 0;
      flex-direction: column;
    }
  
    @media screen and (max-width: 640px)  {
      padding: 0;
  
      width: calc(100vw - 32px);
      flex-direction: column;
    }
}

.left-section{
    width: 100%;
    @media screen and (max-width: 640px) {
      width: 80%;
      display: flex;
      flex-direction: column;
  
      margin: 0 auto;
    }
    @media screen and (max-width: 768px) {
      width: 100%;
      display: flex;
      flex-direction: column;
  
      margin: 0 auto;
    }
}

/* .section-title{
    font-weight: 800;
    font-size: 65px;
    line-height:72px;
    width: max-content;
    max-width: 100%;
    background: linear-gradient(121.57deg, #FFFFFF 18.77%, rgba(255, 255, 255, 0.66) 60.15%);
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 16px;
    padding: 58px 0 16px;
  
    @media screen and (max-width: 768px){
      font-size: 56px;
      line-height:56px;
      margin-bottom: 12px;
      padding: 40px 0 12px;
    }
  
    @media screen and (max-width: 640px){
      font-size: 32px;
      line-height: 40px;
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 8px;
      padding: 16px 0 8px;
      max-width: 100%;
    }
} */

.section-text{
    max-width: 700px;
    margin: 0;
    font-size: 24px;
    line-height: 40px;
    font-weight: 300;
    padding-bottom: 3.6rem;
    color: rgba(255, 255, 255, 0.5);
  
    @media screen and (max-width: 640px) {
      max-width: 670px;
      font-size: 20px;
      line-height: 32px;
      padding-bottom: 24px;
    }
  
    @media screen and (max-width: 768px) {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 16px;
    }
}

.section-title {
   
    max-width: 660px;
    font-family: 'Cairo', sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #00FFF5; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #00FFF5; }
  }

  /* @import url('https://fonts.googleapis.com/css?family=PT+Sans'); */
  button{
    display: inline-block;
    position: relative;
    background: none;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    margin: auto 0;
    background: rgba(0,0,0,0.09);
  }
  span{
    display: block;
    padding: 25px 80px;
  }
  button::before, button::after{
    content:"";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
  }
  
  span::before, span::after{
    content:"";
    width:2px;
    height:0;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
  }
  button:hover::before, button:hover::after{
    width: 100%;
  }
  button:hover span::before, button:hover span::after{
    height: 100%;
  }
/*----- button 4 -----*/
.contact-btn::after{
    right:0;
    bottom: 0;
    transition-duration: 0.4s;
  }
  .contact-btn .click-btn::after{
    right:0;
    bottom: 0;
    transition-duration: 0.4s;
  }
  .contact-btn::before{
    left: 0;
    top: 0;
    transition-duration: 0.4s;
  }
  .contact-btn .click-btn::before{
    left: 0;
    top: 0;
    transition-duration: 0.4s;
  }

/* .contact-btn::before,
.contact-btn::after{
    content: "";
    display: block;
    position: relative;
    inset: 0;
    z-index: -1;
  } 

.contact-btn::after{
  background-color: #292929;
} 

.contact-btn::before{
    background-image: 
    linear-gradient(
        to bottom right,
        #aeffb9 0%,
        #a091ff 100%
    );
    transition: 
        transform 200ms;
}

.contact-btn:hover::before,
.contact-btn:focus::before {
    transform: scale(1.1);
} */